- title 'Pages'

.page-header
  = link_to new_page_path, class: 'btn btn-primary' do
    i.glyphicon.glyphicon-plus
    |  New Page

h1 Pages

/ == grid(@pages_grid, show_filters: :no) do |g|
/   - g.column name: 'URI' do |page|
/     = '-'
/   - g.column name: '' do |page|
/     - link_to edit_page_path(page), title: 'Edit page', class: 'btn btn-warning btn-xs' do
/       i.glyphicon.glyphicon-edit
/   - g.column name: '' do |page|
/     - link_to page, title: 'Delete page', data: {confirm: 'Are you sure?'},
/               method: :delete, class: 'btn btn-danger btn-xs' do
/       i.glyphicon.glyphicon-remove
