.about {
  margin-top: 5px;
}

span.badge.badge-publication {
  float: none;
  margin-left: 5px;
  background-color: #F0AD4E;
}

a.person, a.person:hover {
  color: black;
}

a.title, a.title:hover {
  color: #777;
  cursor: pointer;
}

.btn-science-tag {
  margin: 3px 3px 3px 3px;
}

.avatar {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.page-header {
  a.btn {
    float: right;
  }

  a.btn + a.btn {
    margin-right: 8px;
  }
}
